apiVersion: v1
kind: Pod
metadata:
  name: kube-proxy
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-proxy
    image: quay.io/coreos/hyperkube:v1.3.5_coreos.0
    command:
    - /hyperkube
    - proxy
    - --master=https://$master$
    - --kubeconfig=/etc/kubernetes/kubeconfig.yaml
    - --proxy-mode=iptables
    securityContext:
      privileged: true
    volumeMounts:
      - mountPath: /etc/ssl/certs
        name: ssl-certs
      - mountPath: /etc/kubernetes/kubeconfig.yaml
        name: kubeconfig
        readOnly: true
      - mountPath: /etc/kubernetes/ssl
        name: etc-kube-ssl
        readOnly: true
  volumes:
    - name: ssl-certs
      hostPath:
        path: /usr/share/ca-certificates
    - name: kubeconfig
      hostPath:
        path: /etc/kubernetes/kubeconfig.yaml
    - name: etc-kube-ssl
      hostPath:
        path: /etc/kubernetes/ssl
