[Unit]
Description=Pidalio Master API Service
After=weave-network.target fleet.service
Requires=weave-network.target fleet.service
[Service]
Restart=always
RestartSec=10
EnvironmentFile=/etc/pidalio.env
Environment=MASTER=true
Environment=DOCKER_HOST=unix:///var/run/weave/weave.sock
ExecStartPre=/opt/pidalio/kube/kubelet/scripts/retrieve-certificates.sh
ExecStartPre=/opt/pidalio/kube/kubelet/scripts/prepare-yaml.sh
ExecStart=/usr/bin/docker run \
    --volume /etc/kubernetes:/etc/kubernetes \
    --volume /usr/share/ca-certificates:/etc/ssl/certs \
    --publish 8080:8080 \
    --publish 443:443 \
    --rm \
    --name=pidalio-apiserver \
    quay.io/coreos/hyperkube:v1.3.7_coreos.0 \
    /hyperkube \
    apiserver \
    --bind-address=0.0.0.0 \
    --insecure-bind-address=0.0.0.0 \
    --etcd-servers=http://etcd:2379 \
    --allow-privileged=true \
    --service-cluster-ip-range=10.244.0.0/14 \
    --service-node-port-range=1-33000 \
    --secure-port=443 \
    --admission-control=NamespaceLifecycle,NamespaceExists,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota \
    --client-ca-file=/etc/kubernetes/ssl/ca.pem \
    --service-account-key-file=/etc/kubernetes/ssl/server-key.pem
ExecStartPost=/opt/pidalio/kube/kubelet/scripts/create-descriptors.sh
ExecStop=/usr/bin/docker rm -f pidalio-apiserver
[X-Fleet]
MachineMetadata=region=$os_region$
Conflicts=pidalio-apiserver@*.service
