[Unit]
Description=Pidalio Master Controller Service
After=weave-network.target fleet.service
Requires=weave-network.target fleet.service
[Service]
Restart=always
RestartSec=10
EnvironmentFile=/etc/pidalio.env
Environment=MASTER=true
ExecStartPre=/opt/pidalio/kube/kubelet/scripts/retrieve-certificates.sh
ExecStartPre=/opt/pidalio/kube/kubelet/scripts/configure-dns.sh
ExecStart=/opt/pidalio/kube/kubelet/scripts/launch-controller.sh
ExecStop=/usr/bin/pkill kube-controller-manager
[X-Fleet]
Conflicts=pidalio-controller.service
