[Unit]
Description=Pidalio Master Scheduler Service
After=weave-network.target fleet.service
Requires=weave-network.target fleet.service
[Service]
Restart=always
RestartSec=10
EnvironmentFile=/etc/pidalio.env
Environment=MASTER=true
ExecStartPre=/opt/pidalio/kube/kubelet/scripts/retrieve-certificates.sh
ExecStartPre=/opt/pidalio/kube/kubelet/scripts/configure-dns.sh
ExecStart=/opt/pidalio/kube/kubelet/scripts/launch-scheduler.sh
ExecStop=/usr/bin/pkill kube-scheduler
[X-Fleet]
Conflicts=pidalio-scheduler.service
