[Unit]
Description=Pidalio Proxy Service
After=weave-network.target fleet.service
Requires=weave-network.target fleet.service
[Service]
Restart=always
RestartSec=10
EnvironmentFile=/etc/pidalio.env
Environment=DOCKER_HOST=unix:///var/run/weave/weave.sock
ExecStartPre=/opt/pidalio/kube/kubelet/scripts/retrieve-certificates.sh
ExecStart=/usr/bin/docker run \
    --volume /etc/kubernetes:/etc/kubernetes \
    --volume /usr/share/ca-certificates:/etc/ssl/certs \
    --rm \
    --name=pidalio-proxy \
    cedbossneo/hyperkube:v1.3.7 \
    /hyperkube \
    proxy \
    --master=https://pidalio-apiserver \
    --hostname-override=${NODE_PUBLIC_IP} \
    --kubeconfig=/etc/kubernetes/kubeconfig.yaml \
    --proxy-mode=iptables
ExecStop=/usr/bin/docker rm -f pidalio-proxy
[X-Fleet]
Global=True
