[Unit]
Description=Pidalio Proxy Service
After=weave-network.target fleet.service
Requires=weave-network.target fleet.service
[Service]
Restart=always
RestartSec=10
EnvironmentFile=/etc/pidalio.env
Environment=MASTER=false
ExecStartPre=/opt/pidalio/kube/kubelet/scripts/retrieve-certificates.sh
ExecStart=/opt/pidalio/kube/kubelet/scripts/launch-proxy.sh
ExecStop=/usr/bin/pkill kube-proxy
[X-Fleet]
Global=True
